---
import GeneralLayout from "../layouts/GeneralLayout.astro";
---

<GeneralLayout>
    <section>
        <h1>Sewing Planner</h1>
        <img src="" alt="" />
    </section>
</GeneralLayout>

<style is:global>
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>
