---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Sewing Planner | Organize your sewing projects.</title>
    </head>
    <body>
        <Navbar />
        <main class="main-content">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    :root {
        --container-max-width: 80rem;
    }

    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family:
            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
            Ubuntu, Cantarell, sans-serif;
    }

    .main-content {
        max-width: var(--container-max-width);
        width: 100%;
        margin: 0 auto;
        padding: 0 1.5rem;
        flex: 1;
    }
</style>
