# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
DerivedData
.idea/
*.swp
*.lock
*.xcuserstate
*.xcuserdata
*.xcscmblueprint
*.moved-aside
*.xccheckout
*.playground*

# Pods - for those of you who use CocoaPods
Pods

# Zed integration with xcode build server
# https://github.com/SolaWing/xcode-build-server - details here
buildServer.json

# rust
target/
*.db
*.env

# bruno
bruno.json
*.bru
